body{
    
 
  height: 200px;
  background-image: linear-gradient(to right, rgba(245, 13, 245, 0.56), rgb(143, 17, 226));
  
}


.card{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.background{
    display: block;
    margin-top:2cm;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;


}
